
<table class="table table-bordered">
  <tr>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <%= render @list %>
</table>

<table>
  <tr>
    
    <td><%= link_to "Back to Lists", lists_path %></td>
   
  </tr>
</table>
